* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Lato'
}

header {
    position: sticky;
    height: 100px;
    background-color: #080B12;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

main {
    height: calc(100vh - 100px);
    background-color: #141922;
    display: flex;
}

footer {
    height: 100px;
    background-color: #282828;
}

#sidebar {
    height: 100%;
    width: 300px;
    background-color: #000000;




}

#content {
    overflow-y: auto;
    width: calc(100% - 300px);

}

.logo {
    width: 60%;
    padding: 10px;
    margin-left: 8px;
    padding-bottom: 20px;
}


.btn {
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    display: inline-block;
    padding: 10px 35px;
}

ul {
    list-style-type: none;
    position: relative;
}

.home{
    position: relative;
    display: inline-block

}









/*utility*/

.col-white {
    color: white;
}

.font-family {
    font-size: 50px;
}

.icons {
    width: 10%;
    position: absolute;
    
}

.centered-text{
    color: white;
    font-size: 17px;
    position: absolute;
    top: 62%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.centered-text-2{
    color: white;
    font-size: 17px;
    position: absolute;
    top: 62%;
    left: 35%;
    transform: translate(-50%, -50%);
}



.img-size{
    width: 10%;
}

.py-left{
    padding-left: 12px;
}

.py-top{
    padding-top: 15px
}